!!! 5
%html
	%head
		%title
			km7
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false
		= javascript_include_tag 'application', 'data-turbolinks-track' => false
		= favicon_link_tag 'favicon.ico'
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
		= display_meta_tags :site => 'galeriakm7.com' 
		= csrf_meta_tags
	%body{ data: {no_turbolink: true} }
		.container-wide
			#header
				#logo-row.pull-left
					.logo
						= image_tag("logo.jpg")
				#main-menu.pull-left
					%ul
						%li
							%a{href: 'javascript:;', id:'contact'} contato
						%li
							%a{href: 'javascript:;', id:'artists'} artistas
						%li.hide
							%a{href: '#'} email
					.info
						Galeria KM7
						%br
						Rua Margarida Brantes, 265
						%br
						Venda das Pedras, Nova Friburgo, RJ
						%br
						CEP 28630650
						%br
						55 22 3016 1944
						%br
						55 21 9913 9829
						%br
						%a{href:'mailto:marcelo.brantes@yahoo.com'}
							%i.fa.fa-envelope{"aria-hidden":"true"}
							email
					.artists
						Coming soon
			- if flash[:notice]
				.alert.alert-success
					%button{type:"button",class:"close",data:{dismiss:"alert"}}
						&times;
					= flash[:notice]
			- elsif flash[:error]
				.alert.alert-danger
					%button{type:"button",class:"close",data:{dismiss:"alert"}}
						&times;
					= flash[:error]
			- elsif flash[:alert]
				.alert.alert-warning
					%button{type:"button",class:"close",data:{dismiss:"alert"}}
						&times;
					= flash[:warning]

			= yield